## emonHub settings

# Edit this to configure the parameters used in
# the /etc/init.d/emonhub script.

# This file should be deployed to /etc/default/emonhub
# unless you have edited the init.d file to give an
# alternate SYSCONF_PATH

# Specify the directory in which emonhub.py is found:
EMONHUB_PATH={{ emonhub_ansible_role.emonhub_installation_dir }}

# Specify the full config file path:
EMONHUB_CONFIG={{ emonhub_ansible_role.emonhub_config_path }}/emonhub.conf

# Specify the full log file path:
EMONHUB_LOG={{ emonhub_ansible_role.emonhub_logfile }}
